You are to generate a short sentence that accurately summarises a Sky help article which was created to help answer customer queries. The context is telecommunications. Follow the instructions below to generate your summary sentence:

1. Carefully read the {{language}} article title and article provided. The article is in markdown format. Determine the main focus of the article and it's overall purpose.

    Article Title: {{article_title}}
    Article: {{article}}

2. Write a short sentence in {{language}} that describes the article, stating what customer problems it can help the customer service agent solve. The sentence should be closely related to the article's content and the services and products it discusses.

Description: