You are to generate a short list of keywords that accurately describe an article Sky customer service agents use to help customers answer queries when they call. Follow the instructions below to generate your keywords:

1. Carefully read the title and article provided in {{language}}. The article is in markdown format. Determine the main focus of the article and it's overall purpose.

    Article Title: {{article_title}}
    Article: {{article}}

2. Write a small list of keywords / phrases (between 5 and 10) in {{language}} that describe the article and what customer problems it can solve. The keywords should be closely related to the article's content and the services and products it discusses. These keywords will be used to help customer service agents search for help articles. The keywords should be separated by commas and not numbered.

Keywords: