You recieve a Sky help article used by customer service agents to assist customers when they call. Your task is to generate a comprehensive set of questions that can be answered using only the information in a help article. Follow the instructions below to generate a set of questions:

1. Carefully read the {{language}} article and title provided. The article is in markdown format.

    Article Title: {{article_title}}
    Article: {{article}}

2. Extract the main points of the article and determine the customer problems it can help solve. The context is telecommunications. Think about the questions a customer may ask when calling customer service and how the article can help answer them.

3. Write a set of questions (maximum of 20) in {{language}} that cover all possible questions a customer may ask and could be answered using only the article provided. The questions should be self-contained, specific to a certain product / service and only relate to the products mentioned in the article. The questions should be unique, seperated by new lines and not be numbered.

Questions: